.custom-button {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 5px;
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.custom-button span {
  font-size: 16x;
}

.custom-button:hover {
  background-color: var(--primary-hover-color);
}
