/* The container */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 20px;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox input:not(:checked):hover ~ .checkmark {
  border-color: var(--checkbox-hover-color);
}

.custom-checkbox input:not(:checked):hover ~ .checkmark:after {
  display: block;
  border-color: var(--checkbox-hover-color);
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: var(--checkbox-unchecked-color);
  border: 1px solid var(--checkbox-border-color);
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 6px;
}

.custom-checkbox input:not(:checked):hover ~ .checkmark {
  border-color: var(--checkbox-hover-color);
}

.custom-checkbox input:not(:checked):hover ~ .checkmark:after {
  display: block;
  border-color: var(--checkbox-hover-color);
}

.custom-checkbox.checked .checkmark {
  background-color: var(--checkbox-checked-color);
  border-color: var(--checkbox-checked-border-color);
}

.custom-checkbox.checked:hover .checkmark {
  background-color: var(--checkbox-hover-checked-color);
  border-color: var(--checkbox-hover-checked-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 7px;
  top: 0px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 1.8px 1.8px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
